body {
    background-color: rgba(0, 0, 0, 0.872);

}

.card {
    border: solid 1px white;
    border-radius: 20px;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgb(250, 235, 215);
    box-shadow: 5px 5px 5px black;
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.contenedor {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center; /* Agregado para centrar los elementos */
    gap: 10px; /* Agregado para agregar espacio entre las tarjetas */
}

img {
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}

.foto {
    width: 190px;
    height: 250px;
}

.popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Corregido el nombre de la propiedad */
    padding: 20px; /* Agregado para dar espacio interno */
    
}

.popup {
    width: 30%;
    position: fixed; /* Cambiado a 'fixed' para que el pop-up siempre esté en la misma posición */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Agregado para centrar vertical y horizontalmente */
    border: solid 1px white;
    border-radius: 20px;
    background-image: url('../assets/harry-potter-free-printable-invitations-050.jpg');
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px black;
    background-size: cover;
    color: rgb(250, 235, 215);
}

.foto2 {
    width: 190px;
    height: 250px;
}

button{
    background-color: black;
    border-radius: 20px;
    color: aliceblue;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(250, 235, 215);
    font-size: 100px;
}

.peqcard{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.711);
    text-align: center;
    box-shadow: 5px 5px 5px black;
}

div.padre{
    max-width: 900px;
    height: 90%;
    margin: auto;
    display: grid;
}

